@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Space+Mono&display=swap");

body {
    margin: 0 auto;
}

body,
.nav__ul,
button {
    font-family: "Nunito", sans-serif;
}

ul {
    list-style: none;
    display: flex;
}
a {
    color: black;
    text-decoration: none;
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px #d5bdaf;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

h1 {
    color: #fb5607;
    font-size: large;
    margin: 100px 20px 0 20px;
}

.logo {
    width: 4%;
    height: 2%;
    margin: 0 20px;
}

nav {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 4%;
}

.overhall {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 20px;
}

.nav__button {
    width: 15%;
    height: 45px;
    padding: 0;
    background-color: transparent;
    border-radius: 0 20px 20px 20px;
    border: 3px solid #fb5607;
    margin: 0.9%;
    font-weight: 600;
}

.nav__button:hover {
    background-color: #fb5607;
    color: white;
    transition: 0.8s;
}

.overhall__button {
    width: 150px;
    height: 70px;
    background-color: #fb5607;
    border: 3px solid #fb5607;
    color: white;
    font-weight: 600;
    border-radius: 0 25px 25px 25px;
}
.overhall__button:hover {
    background-color: white;
    color: #fb5607;
    transition: 0.8s;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 350px;
    height: 400px;
    border-radius: 10%;
    margin-top: 3%;
    position: relative;
}

section > h2 {
    font-size: 80px;
    margin: 10px;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.images > img:hover {
    filter: grayscale(50%);
    visibility: visible;
    opacity: 1;
}
